/** Font **/

/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * masqualero:
 *   - http://typekit.com/eulas/00000000000000003b9b201c
 *   - http://typekit.com/eulas/00000000000000003b9b201d
 *   - http://typekit.com/eulas/00000000000000003b9b2022
 *   - http://typekit.com/eulas/00000000000000003b9b2025
 *
 * © 2009-2019 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2019-07-13 04:06:46 UTC"}*/

@import url("https://p.typekit.net/p.css?s=1&k=tbr0pzq&ht=tk&f=39452.39453.39458.39461&a=26583528&app=typekit&e=css");

@font-face {
font-family:"masqualero";
src:url("https://use.typekit.net/af/21f8d4/00000000000000003b9b201c/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/21f8d4/00000000000000003b9b201c/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/21f8d4/00000000000000003b9b201c/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-style:normal;font-weight:700;
}

@font-face {
font-family:"masqualero";
src:url("https://use.typekit.net/af/67c426/00000000000000003b9b201d/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/67c426/00000000000000003b9b201d/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/67c426/00000000000000003b9b201d/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
font-style:italic;font-weight:700;
}

@font-face {
font-family:"masqualero";
src:url("https://use.typekit.net/af/df555e/00000000000000003b9b2022/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/df555e/00000000000000003b9b2022/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/df555e/00000000000000003b9b2022/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
font-style:italic;font-weight:400;
}

@font-face {
font-family:"masqualero";
src:url("https://use.typekit.net/af/077ea4/00000000000000003b9b2025/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/077ea4/00000000000000003b9b2025/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/077ea4/00000000000000003b9b2025/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-style:normal;font-weight:400;
}

@font-face {
font-family:"monotype-modern-display";
src:url("https://use.typekit.net/af/2182a7/00000000000000003b9b2030/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/2182a7/00000000000000003b9b2030/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/2182a7/00000000000000003b9b2030/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-style:normal;font-weight:400;
}

.tk-masqualero { font-family: "masqualero",sans-serif; }
.tk-monotype-modern-display { font-family: "monotype-modern-display",sans-serif; }


/* josefin-sans-regular */
@font-face {
    font-family: "Josefin Sans";
    font-style: normal;
    font-weight: normal;
    src: url("//lib.baomitu.com/fonts/josefin-sans/josefin-sans-regular.eot");
    /* IE9 Compat Modes */
    src: local("Josefin Sans"), local("JosefinSans-Normal"), url("//lib.baomitu.com/fonts/josefin-sans/josefin-sans-regular.eot?#iefix") format("embedded-opentype"), url("//lib.baomitu.com/fonts/josefin-sans/josefin-sans-regular.woff2") format("woff2"), url("//lib.baomitu.com/fonts/josefin-sans/josefin-sans-regular.woff") format("woff"), url("//lib.baomitu.com/fonts/josefin-sans/josefin-sans-regular.ttf") format("truetype"), url("//lib.baomitu.com/fonts/josefin-sans/josefin-sans-regular.svg#JosefinSans") format("svg");
    /* Legacy iOS */
  }
  

/* lora */ 
  
@font-face {
    font-family: 'Lora Regular';
    src: url('/font/Lora-Regular.eot');
    src: url('/font/Lora-Regular.eot') format('embedded-opentype'),
        url('/font/Lora-Regular.ttf') format('truetype'),
        url('/font/Lora-Regular.svg#Lora-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lora Regular Italic';
    src: url('/font/Lora-Regular-Italic.eot');
    src: url('/font/Lora-Regular-Italic.eot') format('embedded-opentype'),
        url('/font/Lora-Regular-Italic.ttf') format('truetype'),
        url('/font/Lora-Regular-Italic.svg#Lora-Regular-Italic') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* Merriweather */

@font-face {
    font-family: 'Merriweather';
    src: url('/font/Merriweather-Light.eot');
    src: url('/font/Merriweather-Light.eot?#iefix') format('embedded-opentype'),
        url('/font/Merriweather-Light.ttf') format('truetype'),
        url('/font/Merriweather-Light.svg#Merriweather-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather Sans';
    src: url('/font/MerriweatherSans-Light.eot');
    src: url('/font/MerriweatherSans-Light.eot?#iefix') format('embedded-opentype'),
        url('/font/MerriweatherSans-Light.ttf') format('truetype'),
        url('/font/MerriweatherSans-Light.svg#MerriweatherSans-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}


/* pt-sans-regular */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: normal;
  src: url("//lib.baomitu.com/fonts/pt-sans/pt-sans-regular.eot");
  /* IE9 Compat Modes */
  src: local("PT Sans"), local("PTSans-Normal"), url("//lib.baomitu.com/fonts/pt-sans/pt-sans-regular.eot?#iefix") format("embedded-opentype"), url("//lib.baomitu.com/fonts/pt-sans/pt-sans-regular.woff2") format("woff2"), url("//lib.baomitu.com/fonts/pt-sans/pt-sans-regular.woff") format("woff"), url("//lib.baomitu.com/fonts/pt-sans/pt-sans-regular.ttf") format("truetype"), url("//lib.baomitu.com/fonts/pt-sans/pt-sans-regular.svg#PTSans") format("svg");
  /* Legacy iOS */
  }
  

  
  html {
    &::-webkit-scrollbar {
      width: 8px;
      height: 8px;
    }
    &::-webkit-scrollbar-thumb {
      height: 40px;
      background-color: #eee;
      border-radius: 16px;
      &:hover {
        background-color: #ddd;
      }
    }
  }
  
  ::selection {
    background: rgba(0, 149, 255, 0.1);
  }
  
  html {
    h1 {
      font-family: "Lora Regular Italic";
      font-weight: 500;
      color: $light-global-link-hover-color;

    }

    h2 {
      font-size: 2.75em;
      font-family: "Lora Regular Italic";
      font-weight: 400;
      color: $light-global-link-hover-color;

    }

    h3 {
      font-family: "monotype-modern-display";
      font-weight: 300;
      font-size: 1.75em;
    }

    h4 {
      font-family: masqualero;
      font-size: 1.1em;
      font-weight: 400;
    }

    h5 {
      font-family: masqualero;
      font-size: 1.1em;
      font-weight: 400;
      margin-top: auto;
    }


    p {
      font-family: masqualero;
      font-size: 1.1em;
      font-weight: 400;
    }

    hr {
      border: 0;
      height: 1px;
      background-color: #B3B2B2;
      margin-bottom: 5px;
      width: 40%;
      min-width: 15em;
    }

  }
  
  body {
    font-size: 11pt;
    font-weight: 400;
    line-height: 2em;
    background-color: $light-background-color;
    color: $light-font-color;
    &:before {
      content: "";
      background-repeat: no-repeat;
      background-position: center;
      opacity: 0.05;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      -webkit-filter: grayscale(100%);
      -moz-filter: grayscale(100%);
      -ms-filter: grayscale(100%);
      -o-filter: grayscale(100%);
      filter: grayscale(100%);
      filter: gray;
    }

     &.dark-theme {
        background-color: $dark-background-color;
        color: $dark-font-color;
     }
  }
  
  a {
    color: $light-global-link-color;
    text-decoration: none;
    transition: color 0.2s ease, border-color 0.2s ease, background 0.2s ease, opacity 0.2s ease;
    &:hover {
      color: $light-global-link-hover-color;
      text-decoration: none;
      transition: color 0.2s ease, border-color 0.2s ease, background 0.2s ease, opacity 0.2s ease;
    }

     .dark-theme & {
      color: $dark-global-link-color;
      text-decoration: none;
      transition: color 0.2s ease, border-color 0.2s ease, background 0.2s ease, opacity 0.2s ease;

      &:hover{
        color: $dark-global-link-hover-color;
        text-decoration: none;
        transition: color 0.2s ease, border-color 0.2s ease, background 0.2s ease, opacity 0.2s ease;
      }
    }
  }
  
  blockquote {
    font-size: 1rem;
    display: block;
    border-width: 1px 0;
    border-style: solid;
    border-color: $light-border-color;
    padding: 1.5em 1.2em 0.5em 1.2em;
    margin: 0 0 2em 0;
    position: relative;

    &:before {
      content: '\201C';
      position: absolute;
      top: 0em;
      left: 50%;
      transform: translate(-50%, -50%);
      background: #fff;
      width: 3rem;
      height: 2rem;
      font: 6em/1.08em 'PT Sans', sans-serif;
      color: $light-post-link-color;
      text-align: center;
      
       .dark-theme &{
         color: $dark-post-link-color;
       }
    }
    &:after {
      content: "#blockquote" attr(cite);
      display: block;
      text-align: right;
      font-size: 0.875em;
      color: $light-post-link-color;

       .dark-theme &{
         color: $dark-post-link-color;
       }
    }

    .dark-theme & {
      border-color: $dark-border-color;
    }
  }

.vr {
    height: 30px;
    width: 1px;
    background-color:#00000066;

}
