{{ define "content" }}
{{ $data := .Data }}
<div class="post-warp archive">
    <h1 class="post-title">{{ .Title }}</h1>
    {{ range (.Paginate (.Pages.GroupByDate "January 2006")).PageGroups }}
    <div class="page-section">
        <div class="section-title"><h2>{{ .Key }}</h2></div>

        {{ range .Pages }}
        <div class="archive-item">
            <ul>
                <li><a href="{{ .Permalink }}" class="archive-item-link"><h3>{{ .Title }}</h3></a></li>
                <li><hr style="width: 40%;"></li>
                <li><a class="archive-item-description" href="{{ .Permalink }}" ><h5>{{ .Description }}</h5></a></li>
            </ul>
        {{ end }}
        </div>
    </div>
</div>
    {{ end }}
    {{ partial "paginator.html" . }}
</div>
{{end }}