{{ define "content" }}
{{ $data := .Data }}
<div class="post-warp archive">
    <h2 class="list-title">{{ .Title }}</h2>
    {{ range (.Paginate (.Pages.GroupByDate "Jan 2006")).PageGroups }}
    <div class="page-section">
        <div class="section-title"><h2>{{ .Key }}</h2></div>

        {{ range .Pages }}
            <div class="archive-item">
            <a href="{{ .Permalink }}">
            <ul>
            <li><div class="archive-item-link"><h3>{{ .Title }}</h3></div></li>
            <li><hr></li>
            <li><div class="archive-item-description" ><h5>{{ .Description }}</h5></div></li>
            </ul>
            </a>
            {{ end }}
            </div>
    </div>
</div>
    {{ end }}
    {{ partial "paginator.html" . }}
</div>
{{end }}