{{ define "content" }}

{{ $termName := .Data.Plural }}
{{ $terms := .Data.Terms.ByCount }}
{{ $length := len $terms }}
{{ $type := .Type }}
<!-- Categories Page -->
<div class="post-warp {{.Data.Plural}}">
    <h2 class="terms-title">Adwoa's Blog</h2>
{{ if and $.Site.Taxonomies.categories (eq $termName "categories") }}

<div class="card-section">
{{ range $terms }}
    {{ $term := .Term }}
    {{ $pages := .Pages }}
    {{ with $.Site.GetPage "taxonomy" (printf "%s/%s" $type $term) }}
         <div class="card-item">
            <div class="categories-title" >
              <a href="{{ .Permalink }}">
              <h2>{{ $term | humanize}}</h2>
              </a>
            </div>
            {{ range first 5 $pages }}   
            <div class="archive-item">
            <a href="{{ .Permalink }}">
            <ul>
            <li><div class="archive-item-link"><h3>{{ .Title }}</h3></div></li>
            <li><hr></li>
            <li><div class="archive-item-description" ><h5>{{ .Description }}</h5></div></li>
            </ul>
            </a>
            </div>
          {{ end }}
           {{ if gt (len $pages) 5 }}
                <a href="{{ .Permalink }}" class="more-post-link">{{ i18n "More" }}<h3> &#x25cf; &#x25cf; &#x25cf; </h3></a>
           {{ end }}
        </div>
    {{ end }}
{{ end }}
</div> <!-- //categories-card -->
 <!-- Tag cloud Page -->
{{ else if and $.Site.Taxonomies.tags (eq $termName "tags") }}
     <div class="tag-cloud-tags">
          {{ range $.Site.Taxonomies.tags.ByCount }}
            {{ if .Name }}
            <a href="/tags/{{ .Name | urlize}}/"> {{ .Name }} <small>({{ .Count }})</small></a>
            {{ end }}
          {{end}}
     </div>

{{ end }}
</div>
{{end }}
