.post-warp {


    .page-section {
        margin: 0 auto;
        margin-top: 3em;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        line-height: 1.6em;

        .section-title {
            margin-bottom: 2rem;
        }


    }

    .archive-item {
        margin-top: .25rem;
        margin-bottom: 1.5rem;
        width: 100%;

            ul,
            li {
                position: relative;

            }

            ul {
                width: 100%;
                list-style-type: none;
            }

            li {
                width: auto;
            }

        .archive-item-link {
            display: inline-block;
            text-decoration: none;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 100;
            &:hover {
                color: $light-global-link-hover-color;
                background-color: transparent;
        }

        .dark-theme & {
            color: $dark-global-link-color;
            text-decoration: none;
            transition: color 0.2s ease, border-color 0.2s ease, background 0.2s ease, opacity 0.2s ease;

            &:hover {
                color: $dark-global-link-hover-color;
                text-decoration: none;
                transition: color 0.2s ease, border-color 0.2s ease, background 0.2s ease, opacity 0.2s ease;
            }
        }

        h5 {
            color: #606060;
        }
    }

    .archive-item-date {
        float: right;
        text-align: right;
        color: $light-font-secondary-color;

        .dark-theme & {
            color: $dark-font-secondary-color;
        }
    }

    .archive-item-description {
        font-size: 14px;
    }

    .more-post {
        text-align: right;
    }

    }

}

.categories {
    h3 {
        display: inline-block;
    }
    span {
        float: right;
        padding-right: 1em;
    }
}