  


.header-logo a{
  padding: 0 ;

  i{
    line-height: 2em;
  }
}

  
.navbar .menu a {
  font-family: 'Lora Regular';
  font-size: 1.15em;
  padding: 0 8px;
  color: $light-global-link-hover-color;

}

.navbar .site-title {

  font-family: 'Lora Regular Italic';
  font-size: 1.75em;
  color: $light-global-link-hover-color;
}

.navbar-mobile .site-title {

  font-family: 'Lora Regular Italic';
  font-size: 18px;
  font-weight: 300;
}


.navbar-mobile .menu a {

  font-family: 'Lora Regular Italic';
  font-size: 18px;
  font-weight: 300;
}

.navbar .menu .active{
    text-decoration: underline;
    color: $light-global-link-hover-color;

    .dark-theme &{
      color: $dark-navbar-active-color;
    }
}

.navbar-header a:hover, .navbar .menu a:hover {
  
  background-color: transparent;
}
